/* profile statistics page */
parasite-player-profile-content .sc-kewqzH,
parasite-player-profile-content .sc-liPqQt,
parasite-player-profile-content .sc-bxmbhD,
parasite-player-profile-content .sc-doYaau,
parasite-player-profile-content .sc-eIavEp,
parasite-player-profile-content .sc-gKGdYD {
  display: none !important;
}

/* profile page */
player-game-card .game-card__info > div.game-card__row:nth-of-type(2) {
  display: none !important;
}

/* statistics table */
table.sc-czIVBR td:nth-child(3), table.sc-czIVBR th:nth-child(3) {
  display: none !important;
}

.sc-fSbIrf div:nth-child(3), /* start page faceit lvl */
.sc-kpAbQd,/* lobby team balance */
.sc-TOgAA, /* lobby lvl indicatort */
.sc-kfiyaB, /* user popup */
.sc-bInfap, /* lobby team balance */
.sc-xchvD /* replay button */ {
  display: none !important;
}

.sc-LejXo > div:nth-child(2) /* recent games list */ {
  display: none !important;
}
